
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
        
        font: 14px/18px Verdana, Geneva, Arial, Helvetica, sans-serif;
}

a {
  text-decoration:        none;
}

table, th, td{
  width:					800px;
  border-left: 		1px lightgrey solid;
  border-bottom:		1px grey solid;
  border-spacing:		0;
}

.ISS_Content{
	height:				100%;
	width:				100%;
	display:				block;
}

.mainContent{
	height:				100%;
	width:				100%;
}

.loginContent{
}

.pageHeader{
	height:				80px;
	width:				100%;
	background:			lightgrey;
}

.headerFont{
	font-size: 			25px;
	padding-top:		15px;
	padding-left:		15px;
}

.logout{
	padding-left:		20px;
}

.pageSidebar{
	height:				30px;
	width: 				100%;
	background:			lightblue;
}

.pageSidebarEntry{
	width:				130px;
	float:				left;
}

.pageSidebarEntry a{
	height:				30px;
	width:				130px;
	padding-left:		20px;
	color:				black;
	cursor: 			pointer;
	display:			block;
	
}

.pageSidebarEntry a:hover{
	background:			lightgrey;
	color:				white;
}

.pageSidebarMenu{
	visibility:			hidden;
	width:				130px;
	position:			relative;
	background-color:	lightblue;
}

.pageContent{
	position:			absolute;
	margin-left:		0px;
	margin-top:			0px;
	z-index:			-5;
}

