
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
        
        font: 14px/18px Verdana, Geneva, Arial, Helvetica, sans-serif;
        background:		white;
}

a {
  text-decoration:        none;
}

table{
	width:				800px;
	align:				center;
	text-align:			center;	
	
}
table th{
	
	background:			#8080ff;
	
}
form{
	
	text-align: 		center;
	width:				1000px;;
	margin:				auto;
	
}
form input, form select{
	
	margin: 1em 0;
	
}
.ISS_Content{
	height:				100%;
	width:				100%;
	display:			block;
}

.mainContent{
	height:				100%;
	width:				100%;
}

.loginContent{
	
	text-align: 		center;
	
}
.loginContent input{
	
	margin: 0.5em;
}
.login_header{
	
	vertical-align: 	center;
	color:				rgb(75, 75, 75);
	font-family: 		"Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
	text-align:			center;
	font-size: 			200%;
	
}
.login{
	
	margin-top: 		1em;
}

.pageHeader{
	height:				80px;
	width:				100%;
	background:			lightgrey;
	padding-bottom:		90px;
}

.headerFont{
	font-size: 			25px;
	padding-top:		15px;
	padding-left:		15px;
}

.logout{
	//padding: 			2px 5px;
	margin-left: 		90%;
}
.user{
	margin-left: 		20px;
	
}

.pageSidebar{
	height:				30px;
	width: 				100%;
	background:			lightblue;
}

.pageSidebarEntry{
	width:				130px;
	float:				left;
	text-align:			center;
}

.pageSidebarEntry a{
	height:				30px;
	width:				130px;
	color:				black;
	cursor: 			pointer;
	display:			block;
}

.pageSidebarEntry a:hover{
	background:			lightgrey;
	color:				white;
}

.pageSidebarMenu{
	//visibility:			hidden;
	display:			none;
	width:				130px;
	position:			relative;
	background-color:	lightblue;
}

.pageContent{
	position:			absolute;
	margin-left:		0px;
	margin-top:			0px;
	z-index:			-5;
}
.fa{
	
	color: 				black;
		
	
}
table .fa:HOVER{
	
	color:				grey;
	
}


.formtable{
	
	margin-left:		25%;
	text-align:			left;
	
}
.headline{
	
	text-align: 		center;
	margin-top:			1em;
	margin-bottom:		2em;
	
	
}
.homeseite{
	
	
	font-size: 			1.5em;
	margin-top:			1em;
	
	
}
.pure-form select{
	
	border: 1px solid red;
	
	
}
form.pure-form table select{
	
	
	padding-right: 10px;
	padding-top: 3px;
}

